<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <title>Добавление пользователя</title>
</head>
<body>
<div class="top">
    <h4>Добавить пользователя</h4>
    <br/>
    <form action="registration" method="post">
        <label>
            Name <br/>
            <input type="text" name="name" placeholder="John">
        </label>
        <br/>
        <label>
            Login<br/>
            <input type="login" name="login" placeholder="john">
        </label>
        <br/>
        <label>
            password<br/>
            <input type="password" name="password">
        </label>
        <br/><br/>
        <input type="submit" value="Добавить">
    </form>
    <a href="users">Назад к списку пользователей</a>
</div>
</body>
</html>